body{
    text-align: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(4, 103, 116));

}
.Info{
    margin-top: 10px;
    border: 1px;
    width: auto;
    height: 40px;
    background-image: linear-gradient(to right, rgba(15, 193, 193, 0), rgb(0, 186, 81)) ;
    font-style:inherit;
    font-weight: bold;
    text-shadow: aqua;
    margin-bottom: 30px;
    padding: 4px;
    
   
}

.coloumn{
    margin: 8px;
    border: 1px;
    float: left;
    width: 390px;
    flex-basis: 49%;
    border-radius: 10px;
    margin-bottom: 30px;
    position:relative;
    overflow: hidden;
}
.coloumn img{
    width: 80%;
    height: 380px;
    border-radius: 10px;
}
.layer{
   background: transparent;
   font-size: 18px;
    height: 380px;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(13, 235, 235, 0.7);
    height: 380px;
    width:   80% ;
    position:absolute;
    top: 0%;
    left: 0%;
    transition: 0.5s;
    padding: 10px;
    
}
.layer a{
    color: black;
    font-size: 20px;
    margin: auto;
}
.long img{
     width: 80%;
     height: 380px;
}
.layer a:hover{
    cursor: pointer;
    color: red;
}
.layer p{
    width: 100%;
    font-weight: 500;
    color: black;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    opacity:0;
}
.layer:hover p{

    bottom: 30%;
    opacity: 1;
}
.food{
    margin-top: 500px;
    border:1px;
    background-image: linear-gradient(to right, rgba(15, 193, 193, 0), rgb(56, 0, 186)) ;
    width: auto;
    height: 40px;
    
}
.container{
    text-align: center;
    border:1px;
    width: fit-content;
    height: fit-content;
    color: darkslategray;
}
