*{
    margin: 0;
    padding: 10px;
    font-family: "montserrat", sans-serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("Asset/calgary2.jpg");
    
    background-size: cover;

}

.contact_section h1{
    text-align: centre;
    color: white;
}

.footer  {    
    
    text-align: center;
   margin-bottom: 3px;
   margin-top: 90px;
   font-weight: bold;
   border: 30px;
  background-color: darkslategray;
}

