body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("Asset/login.jpg.jpg");
    background-size: cover;
}
#heading{
    margin-right: 420px;
}
.container a{
    text-decoration: none;
    line-height: 20px;
    color: aliceblue;
    margin-left: 50px;
    margin-top: 30px;
padding-top: 30px; 
}
.container a:hover{
    cursor: pointer;
    color: darkblue;
}